<div class="container password-reset">


<h3 class="check-title text-center">Enter a new password</h3>
<%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, placeholder:"Password", class: "form-control text-center" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder:"Password Confirmation", class: "form-control text-center" %>
  </div>
  <%= button_tag(type: "submit", class: "btn btn-block") do %>
      Submit
  <% end %>
<% end %>
</div>
