<%= form_for(person, url: {action: 'create'}, method: "post", remote: true) do |p| %>
  <% if person.errors.any? %>
  <%= render("shared/error_messages", object: person) %>
  <% end %>

  <%= hidden_field_tag 'host_id', value: host_id %>

  <div class="row">
    <div class="medium-6 columns name-field">
      <label>First Name <small>required</small>
        <%= p.text_field 'first_name' %>
      </label>
    </div>
    <div class="medium-6 columns name-field">
      <label>Last Name <small>required</small>
        <%= p.text_field 'last_name' %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns email-field">
      <label>Email <small>required</small>
        <%= p.text_field 'email', :placeholder=>'example@example.com' %>
      </label>
    </div>
  </div>

  <%= p.submit 'Check In', class:'button' %>

<% end %>