<div class="row">
  <div class="medium-8 small-centered columns app">
    <%= form_for(person, url: {action: 'create'}, method: "post", remote: true, data: {abide: ''}) do |p| %>
      <div id="errors">
        <%= render("shared/error_messages", object: person) %>
      </div>

      <%= hidden_field_tag 'host_id', host_id %>
      <div class="row">
        <div class="small-12 small-centered columns">
          <p><%= welcome_message %></p>
      <div class="row">
        <div class="small-12 small-centered columns name-field">
            <%= p.text_field 'first_name', placeholder: "First Name", required: "", pattern: "[a-zA-Z]+" %>
            <%= content_tag(:small, "This field is required", class: "error") %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns name-field">
            <%= p.text_field 'last_name', placeholder: "Last Name", required: "", pattern: "[a-zA-Z]+" %>
            <%= content_tag(:small, "This field is required", class: "error") %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns email-field">
            <%= p.text_field 'email', :placeholder=>'Email Address', required: "" %>
            <!-- , pattern: "[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)"  -->
            <%= content_tag(:small, "This field is required", class: "error") %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns email-field">
          <p>Please note, all fields are required</p>
          <%= button_tag(type: "submit", class: "no-style check-login") do %>
              <span class="lnr lnr-arrow-right-circle"></span>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>