$(document).bind('ajax:success', function(data, status, xhr) {

  <% if @rsvp && @rsvp.id %>
    <% if @host_id %>
      var rsvpArray = []
      $('#checked-guests .rsvp-card').each( function() {
       rsvpArray.push($(this).attr('id'))
      });
      if($.inArray("rsvp_<%= @rsvp.id %>", rsvpArray) < 0) {
        console.log("HERE")
        $('#checked-guests').append("<%= j(render 'rsvps/rsvp', rsvp: @rsvp) %>");
      }

      <% if @rsvp.host %>
        <% if @add_guests == false %>
          $('.add').remove()
        <% end %>
      <% end %>

    <% else %>
        table.destroy();
        var rsvpArray = []
        $('table a').each( function() {
         rsvpArray.push($(this).attr('href'))
        });
        if($.inArray("/rsvps/<%= @rsvp.id %>", rsvpArray) < 0) {
          $('#list').append('<tr><td><%= j(render "rsvps/rsvp_row", r: @rsvp) %></td></tr>');
        }
        $('#attending').empty().text('<%= j(render "rsvps/attending", attending: @attending, total: @total) %>');
        initializeRsvpList();
    <% end %>
  <% end %>


}).bind('ajax:error', function(xhr, status, error) {

  $("#errors").empty().append('<%= escape_javascript(render("shared/error_messages", object: @person)) %>');

});
