<div class="check-title text-center">
  <h3>Users</h3>
  <%= link_to "Create New User", new_user_path, class: "button" %>
</div>

<table class="stack">
  <thead>
    <tr>
      <th class="text-center">Email</th>
      <th class="text-center">Nation</th>
      <th class="text-center">Active?</th>
      <th class="text-center">Events</th>
      <th class="text-center">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= u.email %></td>
      <td><%= u.nation.name unless u.nation.nil? %></td>
      <td><%= u.active %></td>
      <td><%= u.nation.events.count unless u.nation.nil? %></td>
      <td><%= link_to "Edit", edit_user_path(u.id), class:"button" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
