<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </div>
  <hr>
  <div class="edit-user-header">
    <small>Branding</small>
  </div>
  <div class="form-group">
    <%= f.label "Header Color" %>
    <%= f.text_field :color %>
  </div>
  <div class="form-group">
    <%= f.label "Logo URL" %>
    <%= f.text_field :logo %>
  </div>
  <hr>
  <div class="edit-user-header">
    <small>Nation Settings</small>
  </div>
  <%= f.fields_for :nation do |n| %>
    <div class="form-group">
      <%= n.label :name, "Nation's Name" %>
      <%= n.text_field :name %>
    </div>
    <div class="form-group">
      <%= n.label :url, "Nation's URL" %>
      <%= n.text_field :url %>
    </div>
  <% end %>
  <%= link_to "Change Site & Event", choose_site_path, class: "btn btn-block" %>
  <hr>
  <%= f.submit "Save", class: "btn btn-block" %>
<% end %>
<hr>
<div class="logout">
  <%= link_to "Log out", logout_path %>
</div>
