<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Part 1: User Credentials</h3>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div>
  
  <div class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
  </div>

  <h3>Part 2: Nation Credentials</h3>

  <%= f.fields_for :nation do |n| %>
  <label>Your Nation's Name: </label>
    <%= n.text_field :name %>
  <label>Your Nation's URL: </label>
    <%= n.text_field :url %>
  <label>Your Nation's Client UID: </label>
    <%= n.text_field :client_uid %>
  <label>Your Nation's Secrety Key: </label>
    <%= n.text_field :secret_key %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Submit', :class =>"button" %>
  </div>
<% end %>
