<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="check-title">Part 1: User Credentials</h3>
  
  <div class="field">
    <%= f.text_field :email, placeholder:"Email" %>
  </div>

  <h3 class="check-title">Part 2: Nation Credentials</h3>

  <%= f.fields_for :nation do |n| %>
    <%= n.text_field :name, placeholder:"Nation's Name" %>
    <%= n.text_field :url, placeholder:"Nation's URL" %>
  <% end %>

  <div class="actions">
    <%= button_tag(type: "submit", class: "no-style check-login") do %>
        <span class="lnr lnr-arrow-right-circle"></span>
    <% end %>
  </div>
<% end %>
