<div class="container password-reset">

  <%= form_for @user, url: confirm_user_url(@user), method: :put do |f| %>
    <h3 class="check-title text-center">Please create a password</h3>

    <div class="field form-group">
      <%= f.email_field :email, class: "form-control text-center", placeholder:"Email Address", :readonly => true %>
      <%= f.password_field :password, class: "form-control text-center", placeholder:"Password" %>
      <%= f.password_field :password_confirmation, class: "form-control text-center", placeholder:"Password Confirmation" %>

    </div>
    <%= f.button "Save", class: "btn btn-block" %>

    <%= hidden_field_tag 'activation_token', @token %>
  <% end %>
</div>
