<%= form_for @user, url: confirm_user_url(@user), method: :put do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="check-title">Please create a password:</h3>
  
  <div class="field">
    <%= f.email_field :email, placeholder:"Email Address", :readonly => true %>
    <%= f.password_field :password, placeholder:"Password" %>
    <%= f.password_field :password_confirmation, placeholder:"Password Confirmation" %>

  </div>

  <%= hidden_field_tag 'activation_token', @token %>

  <div class="actions">
    <%= f.submit 'Submit', :class =>"button" %>
  </div>
<% end %>
