<% if session[:current_site] %>
  <%= link_to choose_site_path do %>
    <div class="choose_site">
      <%= session[:current_site].titleize %> <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  <% end %>

<% else %>

  <%= link_to choose_site_path do %>
    <div class="choose_site">
      Select your website <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  <% end %>
<% end %>

<% if session[:current_event] %>

<%= link_to choose_event_path do %>
  <div class="choose_event">
    <%= Event.find(session[:current_event]).name.titleize %> <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
<% end %>

<% else %>

  <%= link_to choose_event_path do %>
    <div class="choose_event">
      Select your event <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  <% end %>
<% end %>
