<tr>
  <td><%= @persons[rsvp_counter].first_name %></td>
  <td><%= @persons[rsvp_counter].last_name %></td>
  <td class="show-for-medium-up"><%= rsvp['guests_count'] %></td>
  <td class="show-for-medium-up"><% if rsvp['attended'] %>Yes<% else %>No<%end %></td>
  <td><%= form_tag({controller: 'events', action: 'find_person'}, method: 'get') do %>
    <%= hidden_field_tag 'first_name', @persons[rsvp_counter].first_name %>
    <%= hidden_field_tag 'last_name', @persons[rsvp_counter].last_name %>
    <%= hidden_field_tag 'email', @persons[rsvp_counter].email %>
    <%= hidden_field_tag 'phone', "" %>
    <%= hidden_field_tag 'mobile', "" %>
   <%= submit_tag 'Edit', class:'button' %>
  <% end %>
  </td>
</tr>