<% if @rsvpFound %>

<h3><% if @rsvpFound['attended'] %><i class="fa fa-check-square-o"></i> <% else%><i class="fa fa-square-o"></i><% end %>RSVP Found for: <%= @personMatch.name %></h3>

		<%= form_tag({controller: 'events', action: 'processCheckIn'}, method: 'get', id: "processcheckin", data: {abide: ''}) do %>
			<%= hidden_field_tag 'rsvp_id', @rsvpFound['id'] %>
			<%= hidden_field_tag "event_id", @rsvpFound['event_id'] %>
			<%= hidden_field_tag "person_id", @rsvpFound['person_id'] %>
			<%= hidden_field_tag "guests_count", @rsvpFound['guests_count'] %>
			<%= hidden_field_tag "volunteer", @rsvpFound['volunteer'] %>
			<%= hidden_field_tag "private", @rsvpFound['is_private'] %>
			<%= hidden_field_tag "canceled", @rsvpFound['canceled'] %>
			<%= hidden_field_tag "shift_ids", @rsvpFound['shift_ids'] %>
			<% if @rsvpFound['attended'] %>
			<%= hidden_field_tag "already_checkedin", true%>
			<%else%>
			<%= hidden_field_tag "attended", true %>
			<%end%>

			<% if @rsvpFound['attended'] %>

				<h3 class="button disabled">Already checked in </h3>

			<% end %>

			<% @plusonearray.each_with_index do |m, i| %>
				<fieldset><h3 class="subheader"><i class="fa fa-check-square-o"></i> Checked-In Guest #<%= i+1 %>: <%= m.first_name %> <%= m.last_name %></h3></fieldset>
			<%end %>

		  <% if @rsvpFound['guests_count'] - @plusonearray.size > 0 %>
		  <%= hidden_field_tag "guests", @rsvpFound['guests_count'] - @plusonearray.size %>
		  	<% (@rsvpFound['guests_count'] - @plusonearray.size).times do |n| %>
		  		<fieldset id="guest_<%=n%>">
		  		<h3 class="subheader"><i class="fa fa-square-o"></i> Unchecked-In Guest #<%= @plusonearray.size + n +1 %>: </h3>
		  		<div>First Name: <%= text_field_tag "guest_#{n}[first_name]", nil, class: 'first' %></div>
		  		<div>Last Name: <%= text_field_tag "guest_#{n}[last_name]", nil, class: 'last' %></div>
		  		<div><label>Email: <%= email_field_tag "guest_#{n}[email]", nil, class: 'email', placeholder: 'example@example.ca' %><small class="error">Email is in the improper format.</small><label></div>
		  		<div><label>Mobile Phone: <%= text_field_tag "guest_#{n}[mobile]", nil, class: 'phone', pattern: 'user_phone', placeholder: 'XXX-XXX-XXXX' %><small class="error">Phone number is in the improper format.</small><label></div>
		  		</fieldset>
		  	<% end %>
		  <% end %>

		  <% if !@rsvpFound['attended'] || @rsvpFound['guests_count'] - @plusonearray.size > 0 %>
				<%= submit_tag 'Check In', class:"button" %>
			<% end %>

	<% end %>

<% else %>

	<h3>No RSVP found for <%= @personMatch.name %>. Add RSVP?</h3>

	<%= form_tag({controller: 'events', action: 'processCheckIn'}, method: 'get') do %>
		<%= hidden_field_tag "event_id", @event_id %>
		<%= hidden_field_tag "person_id", @personMatch.id %>
		<%= hidden_field_tag "guests_count", 0 %>
		<%= hidden_field_tag "volunteer", false %>
		<%= hidden_field_tag "private", false %>
		<%= hidden_field_tag "canceled", false %>
		<%= hidden_field_tag "attended", true %>
		<%= hidden_field_tag "shift_ids", "" %>
		<%= submit_tag 'RSVP & Check In', class:"button" %>
	<% end %>

<%end%>
