<div id="header">
  <h3>Event RSVP List</h3>
  <div style="clear:both"></div>

<table id="list" role="grid">
  <thead>
    <tr>
      <th width="40"></th>
      <th width="40"></th>
      <th scope="column">First Name</th>
      <th scope="column">Last Name</th>
      <th class="show-for-medium-up">Guests</th>
    </tr>
  </thead>

  <tfoot style="display:none">
    <tr>
      <th width="40"></th>
      <th width="40"></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th class="show-for-medium-up">Guests</th>
    </tr>
  </tfoot>

  <tbody>
    <% @rsvps.each_with_index do |r| %>
      <tr>
        <td><% if r.attended %><i class="fa fa-check-square-o"></i> <% else%><i class="fa fa-square-o"></i><% end %></td>
<!--         <td><%= form_tag({controller: 'events', action: 'find_person'}, method: 'get') do %>
          <%= hidden_field_tag 'first_name', r.first_name %>
          <%= hidden_field_tag 'last_name', r.last_name %>
          <%= hidden_field_tag 'email', r.email %>
          <%= hidden_field_tag 'phone', "" %>
          <%= hidden_field_tag 'mobile', "" %>
          <%= button_tag(type: 'submit', class:"no-style") do %>
            <i class="fa fa-edit"></i>
          <% end %>
        <% end %>
        </td>
 -->    <td><%= link_to "Edit", rsvp_path(r.id) %></td>
        <td><%= r.person.first_name %></td>
        <td><%= r.person.last_name %></td>
        <td class="show-for-medium-up"><%= r.guests_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Update the cache", events_update_cache_path, :class => "button updatecache" %>