<div id="header">
  <h3>Event RSVP List</h3>
  <div id="pagination" class="show-for-medium-up">
  <% if @current_page > 1 %>
  <%= link_to "< Previous", everyone_path(page: @current_page - 1), class:'button secondary' %>
  <% end %>
  <% if @current_page < @total_pages %>
  <%= link_to "Next >", everyone_path(page: @current_page + 1), class:'button secondary'  %>
  <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th class="show-for-medium-up">Guests</th>
      <th class="show-for-medium-up">Status</th>
      <th>Edit</td>
    </tr>
  </thead>
  <tbody>
    <% @persons.each_with_index do |p, i| %>
      <tr>
        <td><%= p.first_name %></td>
        <td><%= p.last_name %></td>
        <td class="show-for-medium-up"><%= @rsvps[i]['guests_count'] %></td>
        <td class="show-for-medium-up"><% if @rsvps[i]['attended'] %>Yes<% else %>No<%end %></td>
        <td><%= form_tag({controller: 'events', action: 'find_person'}, method: 'get') do %>
          <%= hidden_field_tag 'first_name', p.first_name %>
          <%= hidden_field_tag 'last_name', p.last_name %>
          <%= hidden_field_tag 'email', p.email %>
          <%= hidden_field_tag 'phone', "" %>
          <%= hidden_field_tag 'mobile', "" %>
         <%= submit_tag 'Edit', class:'button' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="text-align:center;">
<% if @current_page > 1 %>
<%= link_to "< Previous", everyone_path(page: @current_page - 1), class:'button secondary' %>
<% end %>
<% if @current_page < @total_pages %>
<%= link_to "Next >", everyone_path(page: @current_page + 1), class:'button secondary'  %>
<% end %>
</div>