<div class="add-rsvp">
<div class="show-card-close"><%= image_tag(asset_path("X.svg")) %></div>

  <div class="add-rsvp-header">
    <small>Add RSVP</small>
  </div>
  <div class="add-rsvp-form">

    <%= form_for @person do |p| %>
      <!-- <%= p.nested_fields_for :rsvps do |r| %> -->
      <%= hidden_field_tag :host_id, @host.id if @host %>
      <%= hidden_field_tag :event_id, @event.id %>
      <!-- <% end %> -->
      <div class="form-group">
      <%= p.label :first_name %>
      <%= p.text_field :first_name %>
      </div>
      <div class="form-group">
      <%= p.label :last_name %>
      <%= p.text_field :last_name %>
      </div>
      <div class="form-group">
      <%= p.label :email %>
      <%= p.text_field :email %>
      </div>
      <div class="form-group">
      <%= p.label :phone_number %>
      <%= p.text_field :phone_number %>
      </div>
      <div class="additional-fields-toggle">
        <p>Additional Fields <i class="fa fa-angle-down" aria-hidden="true"></i></p>
      </div>
      <div class="additional-fields" style="display: none;">
        <div class="form-group">
        <%= p.label :home_zip %>
        <%= p.text_field :home_zip %>
        </div>
      </div>
      <%= p.submit "Save", class: "btn btn-block" %>
    <% end %>

  </div>

</div>
