<%= form_for(new_rsvp, url: { controller: "rsvps", action: "create"}, method: "post", remote: true) do |f| %>
  
  <%= f.hidden_field 'host_id', value: host_id %>
  <%= f.hidden_field 'nation_id', value: session[:current_nation] %>
  <%= f.hidden_field 'event_id', value: @current_event.eventNBID %>
  <%= f.hidden_field 'guests_count', value: 0 %>
  <%= f.hidden_field 'canceled', value: false %>
  <%= f.hidden_field 'attended', value: true %>
  <%= f.hidden_field 'volunteer', value: false %>
  <%= f.hidden_field 'is_private', value: false %>
  <%= f.hidden_field 'shift_ids', value: [] %>

  <%= f.fields_for :person do |p| %>
    <div class="row">
      <div class="medium-6 columns name-field">
        <label>First Name <small>required</small>
          <%= p.text_field 'first_name' %>
        </label>
      </div>
      <div class="medium-6 columns name-field">
        <label>Last Name <small>required</small>
          <%= p.text_field 'last_name' %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns email-field">
        <label>Email <small>required</small>
          <%= p.text_field 'email', :placeholder=>'example@example.com' %>
        </label>
      </div>
    </div>
    <% end %>
  <%= f.submit 'Check In', class:'button' %>
<% end %>