<div id="new_rsvp_<%= guest_id %>">
  <h3>New Guest</h3>

  <%= form_for(new_rsvp) do |f| %>
    <%= f.hidden_field 'host_id', value: host_id %>
      <%= f.fields_for :person do |p| %>
      <div class="row">
        <div class="medium-6 columns name-field">
          <label>First Name <small>required</small>
            <%= p.text_field 'first_name', :required => true %>
          </label>
        </div>
        <div class="medium-6 columns name-field">
          <label>Last Name <small>required</small>
            <%= p.text_field 'last_name', :required => true %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns email-field">
          <label>Email <small>required</small>
            <%= p.text_field 'email', :placeholder=>'example@example.com', :required => true %>
          </label>
        </div>
      </div>
      <% end %>
    </div>
    <%= f.submit 'Check In', class:'button' %>
  <% end %>
</div>