<div class="container add-rsvp">
  <div class="add-rsvp-header">
    <small>Add RSVP</small>
    <%= link_to(image_tag(asset_path("X.svg")), rsvps_path, class: "close-btn") %>
  </div>
  <div class="add-rsvp-form">

    <%= form_for @person do |p| %>
      <!-- <%= p.nested_fields_for :rsvps do |r| %> -->
      <%= hidden_field_tag :host_id, @host.id if @host %>
      <%= hidden_field_tag :event_id, @event.id %>
      <!-- <% end %> -->
      <div class="form-group">
      <%= p.label :first_name %>
      <%= p.text_field :first_name %>
      </div>
      <div class="form-group">
      <%= p.label :last_name %>
      <%= p.text_field :last_name %>
      </div>
      <div class="form-group">
      <%= p.label :email %>
      <%= p.text_field :email %>
      </div>
      <div class="form-group">
      <%= p.label :phone_number %>
      <%= p.text_field :phone_number %>
      </div>
      <%= p.submit "Save", class: "btn btn-block" %>
    <% end %>

  </div>

</div>
