<%= link_to rsvp_path(r.id) do %>
  <%= image_tag r.person.pic %>
  <% if r.canceled %><div class="strikethrough"><% end %><%= r.person.full_name %>
  <% if r.canceled %></div><% end %>
  <% if r.attended %><span class="lnr lnr-checkmark-circle"></span><% end %>
  <% if r.guests_count > 0 %><div class="guests-count">+ <%= r.guests_count %></div><% end %>
  <div style="display:none!important"><% if r.attended %><% else %>nyci<% end %> <%= r.person.email %></div>
<% end %>
