<% if @rsvps.size > 0 %>
<div id="header">
  <h3>Event RSVP List</h3>
  <div style="clear:both"></div>

<table id="list" role="grid">
  <thead>
    <tr>
      <th width="40"></th>
      <th width="40"></th>
      <th scope="column">First Name</th>
      <th scope="column">Last Name</th>
      <th class="show-for-medium-up">Guests</th>
    </tr>
  </thead>

  <tfoot style="display:none">
    <tr>
      <th width="40"></th>
      <th width="40"></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th class="show-for-medium-up">Guests</th>
    </tr>
  </tfoot>

  <tbody>
    <% @rsvps.each do |r| %>
      <tr>
        <td><% if r.attended %><i class="fa fa-check-square-o"></i> <% else%><i class="fa fa-square-o"></i><% end %></td>
        <td><%= link_to "Edit", rsvp_path(r.id) %></td>

        <td><% if r.person.first_name %><%= r.person.first_name %><% end %></td>
        <td><% if r.person.last_name %><%= r.person.last_name %><% end %></td>
        <td class="show-for-medium-up"><%= r.guests_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Update the cache? <%= link_to "Update Cache", rsvps_cache_path %>
<% else %>
  <h3>No RSVPs found, would you like to create a cache? <%= link_to "Create Cache", rsvps_cache_path %>
<% end %>