<% if @rsvps.size > 0 %>
  <div id="header">
    <p><%= @current_event.name %></p>
    <p><%= @current_event.to_local_time %></p>
    <p id="attending">
      <%= render('attending', attending: @attending, total: @total) %>
    </p>
   <%#= link_to 'Delete RSVPS',  { action: :destroy, controller: 'events', id: @current_event.id }, method: :delete, data: { confirm: 'Are you sure? This will delete ALL event rsvps and their +1 associations.' } %>
  </div>

  <table id="list" role="grid">
    <thead>
      <tr  style="display:none">
        <th scope="column">Name</th>
      </tr>
    </thead>

    <tfoot style="display:none">
      <tr>
        <th>Name</th>
      </tr>
    </tfoot>

    <tbody>
      <% @rsvps.each do |r| %>
        <tr>
          <td>
            <%= render('rsvp_row', r: r) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Update the cache? <%= link_to "Update Cache", rsvps_cache_path, class: "to-cache" %>
<% else %>
  <h3>No RSVPs found, would you like to create a cache? <%= link_to "Create Cache", rsvps_cache_path, class: "to-cache" %>
<% end %>