<%= render @rsvp %>

<% if @rsvp.guests_count > 0 %>

  Guests:
  <div id="checked-guests">
  <% @rsvp.guests.each do |guest| %>
    <%= render 'rsvp', rsvp: guest %>
  <% end %>
  </div>

  <%= link_to "Add New Guest", "#", class: "add_guest", data: { host_id: @rsvp.id } %>

  <div id="guests"></div>

<!-- 
  <% if @guests %>
    <% @guests.each_with_index do |guest, index| %>
    	<div id="new_rsvp_<%= index %>">
      	<h3>New Guest</h3>
      	<%= render "new_rsvp", new_rsvp: guest, host_id: @rsvp.id %>
      </div>
    <% end %>
  <% end %>

  <% if @guest %>
    	<div id="new_rsvp">
      	<h3>New Guest:</h3>
      	<%= render "new_rsvp", new_rsvp: @guest, host_id: @rsvp.id %>
      </div>
  <% end %>
  
<% end %> 
 -->