<div class="container rsvp-show">

  <div class="rsvp-person">

    <% if @rsvp.volunteer %>
      <small>Volunteer</small>
    <% end %>
    <h3>
      <%= @rsvp.person.first_name + " " + @rsvp.person.last_name %>

      <%= link_to rsvps_check_in_path(@rsvp) do %>
        <%= image_tag("Icon/Checkmark/Grey", class: "check") if !@rsvp.attended %>
        <%= image_tag("Icon/Checkmark/Color", class: "check") if @rsvp.attended %>
      <% end %>
    </h3>
  </div>

  <div class="email">
    <small>Email</small>
    <h3>
      <%= @rsvp.person.email %>
    </h3>

  </div>

  <!-- <div class="tickets">
    <small style="color:#7C7C7C">TICKETS</small>
    <h3>
      Tickets
    </h3>
  </div> -->

</div>
