<div id="header">
  <p><%= @current_event.name %></p>
  <p><%= @current_event.to_local_time %></p>
  <% if @current_event.sync_date %>
  <p>Sync status: <%= @current_event.sync_status %> <br/>Last sync date: <%= @current_event.sync_date.localtime.strftime("%B %d, %Y at %I:%M%p") %></p>
  <% else %>
  <p>Sync status: No sync yet</p>
  <% end %>

</div>

<table id="synclist" role="grid" style="display:none">
  <thead>
    <tr  style="display:none">
      <th scope="column">Name</th>
    </tr>
  </thead>
  <tfoot style="display:none">
    <tr>
      <th>Name</th>
    </tr>
  </tfoot>
  <tbody>
    <% @rsvps.each do |r| %>
    <tr>
      <td>
        <%= render('rsvp', r: r) %>
      </td>
    </tr>
    <% end %>
    <% @nb.each do |r| %>
      <% person = @nb_person.find{ |p| p['id'] == r['person_id']} %>
      <tr>
        <td>
          <a href="#">
            <img src="<%= person['profile_image_url_ssl'] %>" %>
            <%= person['first_name'] %> <%= person['last_name'] %>
            <% if r['attended'] %><span class="lnr lnr-checkmark-circle"></span><% end %>
            <% if r['guests_count'] > 0 %><div class="guests-count">+ <%= r['guests_count'] %></div><% end %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<table id="list" role="grid">
  <thead>
    <tr  style="display:none">
      <th scope="column">Name</th>
    </tr>
  </thead>

  <tfoot style="display:none">
    <tr>
      <th>Name</th>
    </tr>
  </tfoot>

  <tbody>
    <% @same.each do |r| %>
      <tr>
        <td class="whiteout">
          <%= render('rsvp', r: r) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
