<% if nation.name != nil %>
 Your Nation: <%= nation.name %>
  <% if @credential %>
  <a class="button alert tiny" disabled>Authenticated</a>
  <% else %>
  <a class="button alert tiny" href= "<%= authorize_path(nation_id: nation.id) %>">Authenticate</a> 
  <% end %>
  <%= link_to "Edit", edit_user_path(current_user), class: "button tiny"%>

  <% if @credential %>
  <p><%= link_to "Continue to CheckIn", events_path, class: "button" %></p>
  <% end %>
<% else %>

  <%= link_to "Add information for this nation", edit_nation_path(nation), class: "button tiny" %>

<% end %>