<% if nation.name != nil %>
 Your Nation: <%= nation.name %>
  <% if @credential %>
  <a class="button alert tiny" disabled>Authenticated</a>
  <% else %>
  <a class="button alert tiny" href= "<%= authorize_path(nation_id: nation.id) %>">Authenticate</a> 
  <% end %>
  <%= link_to "Edit", edit_user_path(current_user), class: "button tiny"%>

  <% if @credential %>
  
    <% if session[:current_site] && session[:current_event] %>
      <p><%= link_to "Continue to CheckIn", rsvps_path, class: "button" %></p>
    <% elsif session[:current_site] %>
      <p><%= link_to "Continue to CheckIn", choose_event_path, class: "button" %></p>
    <% else %>
      <p><%= link_to "Continue to CheckIn", choose_site_path, class: "button" %></p>
    <% end %>

  <% end %>
<% else %>

  <%= link_to "Add information for this nation", edit_nation_path(nation), class: "button tiny" %>

<% end %>