$(document).ready(function() {

// Performs real time searches as you type in the search field
  $('#search').on("input", function(e){
    e.preventDefault();
    e.stopPropagation();
    var url = '/rsvps';
    var q = $('#search').serialize()
    $.get(url, q, function(html) {
      $('.rsvps').replaceWith(html)
    })
  });

// Handles clicks on the RSVP's ticket, to check the RSVP in or out.
  $('body').on('click ', '.host-tickets .ticket', function(e){
    if (this.classList.contains("ticket-checked")) {
      e.preventDefault();
      e.stopPropagation();
      var id = $(this).data('id');
      checkOut(id);
    } else {
      e.preventDefault();
      e.stopPropagation();
      var id = $(this).data('id');
      checkIn(id);
    }
  });

  // listens for clicks on the checkin button.
  $('body').on('click ', '.checkin', function(e){
    e.preventDefault();
    e.stopPropagation();
    var id = $(this).data('id');
    checkIn(id);
  });

  // listens for clicks on the checkout button.
  $('body').on('click ', '.checkout', function(e){
    e.preventDefault();
    e.stopPropagation();
    var id = $(this).data('id');
    checkOut(id);
  });

// Refreshes the RSVP list when you tap the Refresh icon.
  $('body').on('click ', '.refresh', function(e){
    e.preventDefault();
    e.stopPropagation();
    loadingIn();
    var url = '/sync';
    $.get(url, function(html) {
      $('#rsvp-results').html(html);
      loadingOut();
    }).done(function(){
      if ($('.rsvp').length > 0) {
        $('.no-rsvps').hide();
      }
    });
  });

// Opens the RSVP show-card when you tap on the RSVP in the list.
  $('body').on('click ', '.rsvp-click-zone', function(e){
    e.preventDefault();
    e.stopPropagation();
    var url = this.attributes.href.value
    $.get(url, function(html) {
      $('.show-card-content').html(html)
      showCard();
      updateIcons("checkIn");
      $('.rsvp-name').removeClass("black");
      $('a[href="' + url + '"]').addClass("black");
    });
  });

// Opens an RSVP show-card when you tap on a Ticket within another RSVP.
  $('body').on('click ', '.guests .tickets a', function(e){
    e.preventDefault();
    e.stopPropagation();
    var url = this.attributes.href.value
    $.get(url, function(html) {
      $('.show-card-content').html(html);
    }).done(function(html){
      if (html.includes("add-rsvp-form")) {
        $('.show-card').addClass("add-rsvp-card");
      }
    });
  });

// Opening the Add RSVP show-card when tapped.
  $('body').on('click','.add-rsvp a', function(e){
    e.preventDefault();
    e.stopPropagation();
    var url = this.attributes.href.value
    var page = "newRsvp"
    $.get(url, function(html) {
      $('.show-card-content').html(html);
      updateIcons(page);
      showCard();
      $('.show-card').addClass("add-rsvp-card");
    });
  });

// Opens the Settings panel. Behaves differently depending if you've selected a site and event or not.
  $('body').on('click ','.settings a', function(e){
    e.preventDefault();
    e.stopPropagation();
    var page = "settings"
    var url = this.attributes.href.value
    if (!window.location.href.includes("/landing")) {
      $.get(url, function(html) {
        $('.show-card-content').html(html)
        updateIcons(page);
        showCard();
      });
    } else {
      $.get(url, function(html) {
        $('.main').append("<div class='settings-container' style='padding: 45px !important;'></div>");
        $('.settings-container').html(html);
        $('.user-settings').css("margin-bottom", "54px")
        updateIcons(page);
      });
    }
  });

  // Closes the show-card when you tap the X in the corner of it
  $('body').on('click ', '.show-card-close', function(e){
    hideCard();
  });

// Hides the show-card and activates the Check In footer button when it's tapped\clicked
  $('body').on('click ', '.check-in', function(e){
    e.preventDefault();
    e.stopPropagation();
    updateIcons("checkIn");
    hideCard();
  });

// Checks in an RSVP
  function checkIn(id){
    $('*[id*=load-ani-'+id+']').each(function() {
        $(this).show()
    });
    var url = '/rsvps/check_in';
    $.ajax({
      type: "POST",
      url: url,
      dataType: 'script',
      data: {
          'id': id,
          'attended': true
        }
    });
  }

// checks out an RSVP when you tap\click it
  function checkOut(id){
    $('*[id*=load-ani-'+id+']').each(function() {
        $(this).show()
    });
    var url = '/rsvps/check_out';
    $.ajax({
      type: "POST",
      url: url,
      dataType: 'script',
      data: {
          'id': id,
          'attended': false
        }
    });
  }

  // Updates the footer icons so the active icon is colored.
  function updateIcons(page) {

    $.each($('.icons a h6'), function(key, value){
      $(value).css("color", "#7c7c7c")
    });

    $.each($('.icons a img'), function(key, value){
      if ($(value).attr("src").includes("Checkmark")) {
        var newSrc = "<%= asset_path("Icon/Checkmark/Grey.svg") %>"
      } else if ($(value).attr("src").includes("Add")) {
        var newSrc = "<%= asset_path("Icon/Add/Grey.svg") %>"
      } else if ($(value).attr("src").includes("Gear")) {
        var newSrc = "<%= asset_path("Icon/Gear/Grey.svg") %>"
      }
      $(value).attr("src", newSrc)
    });

    if (page === "settings") {
      $('.settings a h6').css("color", "#0AC4F8")
      $('.settings a img').attr("src", "<%= asset_path("Icon/Gear/Color.svg") %>")
    } else if (page === "newRsvp") {
      $('.add-rsvp a h6').css("color", "#0AC4F8")
      $('.add-rsvp a img').attr("src", "<%= asset_path("Icon/Add/Color.svg") %>")
    } else if (page === "checkIn") {
      $('.check-in a h6').css("color", "#0AC4F8")
      $('.check-in a img').attr("src", "<%= asset_path("Icon/Checkmark/Color.svg") %>")
    } else {};
  };

  // Hides the show-card
  function hideCard() {
    $('.show-card').fadeOut(300, function(){
      $('.show-card-content').html("");
      $('.rsvp-name').removeClass("black");
      $('.show-card').removeClass("add-rsvp-card");
      $('.body, html, body').removeClass("overflow-hidden");
    });
    updateIcons("checkIn")
  }

  // Displays the show-card
  function showCard() {
    if ($('.user-settings').length > 0) {
      $('.show-card').css('position','absolute');
      if (window.innerWidth > 792) {
        $("html, body, .body").animate({ scrollTop: 0 }, "slow");
      }
    } else {
      $('.show-card').css('position','fixed');
    }
    $('.show-card').fadeIn(300);
    $('.show-card').removeClass("add-rsvp-card");
    $('.body, html, body').addClass("overflow-hidden");
  };

  // Closes the show-card when you click outside of it.
  $('body').on('click', function(e){
    if (e.target.classList.contains("show-card") || $(e.target).parents(".show-card").length > 0) {
      null
    } else {
      hideCard();
    }
  });
})
