<style media="screen">
  html {
    background-image: linear-gradient(50deg, #65CCEE 0%, #9DAAD7 100%);
    overflow: hidden;
  }
</style>

<%= render "layouts/check_sync" %>

<div class="container login-container">

  <div class="login-logo">
    <%= image_tag(asset_path("logo.svg")) %>
  </div>

  <% if flash[:alert] || flash[:notice] %>
    <div class="flash"><%= flash[:alert] %><%= flash[:notice] %></div>
  <% end %>

  <%= bootstrap_form_tag url: user_sessions_path do |f| %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.submit "Log in", class: " btn btn-primary navy login-btn" %>
  <% end %>
  <p><small><%= link_to("Forgot your password?", new_password_reset_path) %></small></p>
  <p><small><%= link_to("Need help?", "https://cstreetcheck.zendesk.com/hc/en-us", target: "_blank") %></small></p>

</div>
