<div class="container sidebar">

  <% if !current_user %>
    <div class="sidebar-header"></div>
    <div class="sidebar-filler1 sidebar-filler"></div>
    <div class="sidebar-filler2 sidebar-filler"></div>
  <% end %>

  <% if current_user %>
    <div class="sidebar-header logged-in">
      <% if current_user %>
        <%= image_tag(current_user.logo, class: "desktop-logo") if current_user.logo %>
        <%= image_tag(asset_path("logo.svg"), class: "desktop-logo") if !current_user.logo %>
      <% else %>
        <%= image_tag(asset_path("logo.svg"), class: "desktop-logo") %>
      <% end %>
      <% if @page == "index" %>
        <div class="refresh">
          <%= link_to(image_tag(asset_path("Icon/Refresh/White.svg")), "#") %>
          <small>Refresh</small>
        </div>
      <% elsif @page == "choose_event" %>
      <div class="refresh_events">
        <%= link_to(image_tag(asset_path("Icon/Refresh/White.svg")), "#") %>
        <small>Refresh</small>
      </div>
      <% end %>
    </div>
      <%= render 'events/landing' %>
  <% end %>

</div>
