<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">NBCheckIn</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li<% if session[:current_site] %> class="active has-dropdown"><a href="#">Site: <%= session[:current_site] %></a><ul class="dropdown"><li><%= link_to "Cancel", events_cancel_site_path %></ul><%else%>><a href="#">Site: --</a><%end%></li>
          <li<% if session[:current_event] %> class="active has-dropdown"><a href="#">Event: <%= session[:current_event]["name"] %></a><ul class="dropdown"><li><%= link_to "Cancel", events_cancel_event_path %></ul><%else%>><a href="#">Event: --</a><%end%></li>
        </ul>
      </section>
    </nav>
    <div class="row" style="padding: 15px 0">
      <div class="small-12 centered columns">
        <% flash.each do |type, message| %>
          <%= content_tag :div, class: "alert-box warning alert-#{type}", data: {alert:''} do %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          <% end %>
        <% end %>
        <div class="medium-8 columns">
          <%= yield %>
        </div>
        <div class="medium-4 columns">
          <% if session[:current_site] && session[:current_event] %>
          <h3>Your Options:</h3>
          <%= link_to "See Entire RSVP List", events_everyone_path, class:"button secondary" %>
          <%= link_to "Search for RSVP", findrsvp_path, class:"button secondary" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>