<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title><%= content_for?(:title) ? yield(:title) : "Check by cStreet" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="body">
      <% unless @noheader %>
        <% if current_user && current_user.color %>
          <header style="background: <%= current_user.color %>">
        <% else %>
          <header style="background-image: linear-gradient(20deg, #65CCEE 37%, #9DAAD7 100%)">
        <% end %>
          <%= link_to landing_path do %>
          <% if current_user %>
            <%= image_tag(current_user.logo) if current_user.logo %>
            <%= image_tag(asset_path("logo.svg")) if !current_user.logo %>
          <% else %>
            <%= image_tag(asset_path("logo.svg")) %>
          <% end %>
            <% if @current_event %>
            <div class="current-event">
              <p>
                <% if @current_event.name.length > 30 %>
                  <%= @current_event.name[0..30] + "..." %>
                <% else %>
                  <%= @current_event.name %>
                <% end %>
              </p>
              <small><%= @current_event.start_time.to_formatted_s(:long) %></small>
            </div>
          <% end %>
            <% if @page == "index" %>
              <div class="refresh">
                <%= link_to(image_tag(asset_path("Icon/Refresh/White.svg")), "#") %>
                <small>Refresh</small>
              </div>
            <% elsif @page == "choose_event" %>
            <div class="refresh_events">
              <%= link_to(image_tag(asset_path("Icon/Refresh/White.svg")), "#") %>
              <small>Refresh</small>
            </div>
            <% end %>
          <% end %>
        </header>
      <% end %>
      <%= render 'layouts/sidebar' %>
      <div class="main">
        <%= render 'rsvps/search' %>
        <%= render 'layouts/check_sync' %>
        <%= yield %>
      </div>
      <% unless @nofooter || !current_user %>
        <footer>
          <div class="icons">
            <% if session[:current_event] && session[:current_site] %>
              <div class="check-in">
                <%= link_to rsvps_path do %>
                  <% if @page != "index" %>
                    <%= image_tag(asset_path("Icon/Checkmark/Grey.svg")) %>
                    <h6>Check In</h6>
                  <% else %>
                    <%= image_tag(asset_path("Icon/Checkmark/Color.svg")) if @page == "index" %>
                    <h6 style="color: #0AC4F8">Check In</h6>
                  <% end %>
                <% end %>
              </div>
              <div class="add-rsvp-btn">
                <% if @page != "new-rsvp" %>
                  <%= link_to new_rsvp_path do %>
                    <%= image_tag(asset_path("Icon/Add/Grey.svg")) %>
                    <h6>Add RSVP</h6>
                  <% end %>
                <% else %>
                <%= link_to new_rsvp_path do %>
                  <%= image_tag(asset_path("Icon/Add/Color.svg")) %>
                  <h6 style="color: #0AC4F8">Add RSVP</h6>
                <% end %>
                <% end %>
              </div>
            <% end %>
            <div class="settings">
              <% if @page != "settings" %>
                <%= link_to edit_user_path(current_user) do %>
                  <%= image_tag(asset_path("Icon/Gear/Grey.svg")) %>
                  <h6>Settings</h6>
                <% end %>
              <% else %>
              <%= link_to edit_user_path(current_user) do %>
                <%= image_tag(asset_path("Icon/Gear/Color.svg")) %>
                <h6 style="color: #0AC4F8">Settings</h6>
              <% end %>
              <% end %>
            </div>
          </div>
        </footer>
      <% end %>
    </div>
  </body>
</html>
