<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="//cloud.webtype.com/css/f3a5aac8-1919-4d5c-b564-8fe3712600ae.css" rel="stylesheet" type="text/css" />
    <title><%= content_for?(:title) ? yield(:title) : "NBCheckIn" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="medium-8 small-centered columns app">
        <div class="<% if (session[:current_site]  || controller.controller_name == 'rsvps' || controller.controller_name == "people") && controller.controller_name != "users" %>navbar<% else %>navbar stripped<% end %>">
          <% if (session[:current_site]  || controller.controller_name == 'rsvps' || controller.controller_name == "people") && controller.controller_name != "users" %>
            <nav>
              <ul>
                <li>
                  <%= image_tag "checkapp_logo.svg", class:"logo" %>
                </li>
                <li>
                  <%= link_to logout_path do %>
                    <%= image_tag "check_logout.svg" %>Logout
                  <% end %> 
                </li>
                <li>

                  <% back = nil %>
                  <% button_enabled = true %>
                  <% if controller.controller_name == 'rsvps' %>
                    <% if controller.action_name == 'index' %>
                      <% back = choose_event_path %>
                    <% elsif controller.action_name == 'show' %>
                      <% back = rsvps_path %>
                    <% else %>
                      <% back = rsvps_path %>
                    <% end %>
                  <% elsif controller.controller_name == 'people' %>
                    <% if controller.action_name == 'show' %>
                      <% back = rsvps_path %>
                    <% end %>
                  <% elsif controller.controller_name == 'events' %>
                    <% button_enabled = false %>
                    <% if controller.action_name == 'choose_event' %>
                      <% back = choose_site_path %>
                    <% end %>
                  <% end %>

                  <%= link_to back do %>
                    <%= image_tag "check_goback.svg" %>Go Back
                  <% end %>
                </li>
                <li>                    
                  <% if button_enabled %>
                    <%= link_to(rsvps_cache_path, class: "to-cache") do %>
                      <%= image_tag "check_refresh.svg" %>Refresh
                    <% end %>
                  <% else %>
                    <%= image_tag "check_refresh.svg" %>Refresh
                  <% end %>
                </li>
                <li>
                  <% if button_enabled %>
                    <%= link_to(sync_path, class: "to-cache") do %>
                      <%= image_tag "check_sync.svg" %>Sync
                    <% end %>
                  <% else %>
                    <%= image_tag "check_sync.svg" %>Sync
                  <% end %>
                </li>
              </ul>
            </nav>
          <% else %>
            <%= image_tag "checkapp_logo.svg", class:"logo" %>
          <% end %>
        <% if current_page?(controller:'rsvps', action:'index') %>
        <div id="rsvp-choices">
          <div class="row">
            <div class="small-6 centered columns">
              <%= link_to "#", class:"add", data: { host_id: nil } do %>
              <span class="lnr lnr-plus-circle"></span> Add a Guest
              <% end %>
            </div>
            <div class="small-6 centered columns search">
              <label>
                <span class="lnr lnr-magnifier"></span>
              </label>
              <input type="search" id="datatable-search" placeholder="search">
            </div>
          </div>
        </div>
        <% end %>
        <div class="row" style="padding: 15px 0">
          <div class="small-12 centered columns">
            <% flash.each do |type, message| %>
              <%= content_tag :div, class: "alert-box info alert-#{type}", data: {alert:''} do %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= message %>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>

        <%= yield %>
      </div>
      <div id="modal" class="reveal-modal" data-reveal aria-labelledby="" aria-hidden="true" role="dialog">
        <a class="close-reveal-modal" aria-label="Close"><span class='lnr lnr-cross-circle'></span>Close</a>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <div id="thinking">
      <h3 class="check-title">Updating.<br/>Thanks for your patience!</h3>
      <div class="cssload-jumping">
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
  </body>
</html>