<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "NBCheckIn" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">NBCheckIn</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li<% if session[:current_site] %> class="active has-dropdown"><a href="#">Site: <%= session[:current_site] %></a><ul class="dropdown"><li><%= link_to "Choose new site", events_cancel_site_path %></ul><%else%>><a href="#">Site: --</a><%end%></li>
          <li<% if session[:current_event] %> class="active has-dropdown"><a href="#">Event: <%= session[:current_event_name] %></a><ul class="dropdown"><li><%= link_to "Choose new event", events_cancel_event_path %></ul><%else%>><a href="#">Event: --</a><%end%></li>
          <li>
          <% if current_user %>
            <%= link_to "Logout", :logout, method: :post %>
          <% else %>
            <%= link_to "Login", :login %>
          <% end %>
          </li>

        </ul>
      </section>
    </nav>
    <% if session[:current_site] && session[:current_event] %>
    <div id="choices">
      <div class="row">
        <div class="small-4 centered columns">
          <% if current_page?(controller:'events', action:'get_all') %>
            <div class="button disabled"><i class="fa fa-list-alt"></i> <span class="show-for-medium-up">Entire RSVP List</span></div>
          <% else %>
            <%= link_to everyone_path, class:"button success" do %>
            <i class="fa fa-list-alt"></i> <span class="show-for-medium-up">Entire RSVP List</span>
            <% end %>
          <% end %>
        </div>
        <div class="small-4 centered columns">
          <% if current_page?(controller:'events', action:'find_rsvp') %>
            <div class="button disabled"><i class="fa fa-search"></i> <span class="show-for-medium-up">Search for RSVP</span></div>
          <% else %>
            <%= link_to findrsvp_path, class:"button success" do %>
            <i class="fa fa-search"></i> <span class="show-for-medium-up">Search for RSVP</span>
            <% end %>
          <% end %>
        </div>
        <div class="small-4 centered columns">
        <% if current_page?(controller:'events', action:'new_rsvp') %>
          <div class="button disabled"><i class="fa fa-user-plus"></i> <span class="show-for-medium-up">Add New RSVP</span></div>
        <% else %>
          <%= link_to new_rsvp_path, class:"button success" do %>
          <i class="fa fa-user-plus"></i> <span class="show-for-medium-up">Add New RSVP</span>
          <% end %> 
        <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row" style="padding: 15px 0">
      <div class="small-12 centered columns">
        <% flash.each do |type, message| %>
          <%= content_tag :div, class: "alert-box info alert-#{type}", data: {alert:''} do %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
        <div class="medium-8 medium-centered columns">
          <%= yield %>
        </div>
    </div>
    <%= javascript_include_tag "application" %>
    <div id="thinking"><i class="fa fa-spinner fa-pulse"></i></div>
  </body>
</html>